html,
body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Mukta', sans-serif;
}

.bg-image {
    background-image: url('../img/cover.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.mask {
    height: 100vh;
    background-color: hsla(210, 56%, 41%, 0.7)
}

.btn-purple {
    color: #fff;
    background-color: #FF914D;
    border-color: #FF914D
}

.btn-purple:hover {
    color: #fff;
    background-color: #FF914D;
    border-color: #FF914D
}

.bg-blue {
    background-color: #4c49ea;
    color: #fff;
}

.card {
    max-width: 300px;
    min-height: 100px;
    display: flex;

    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
}

.card-pink {
    background-color: #cd3e94;
}

.card-blue-night {
    background-color: #952aff;
}
.card-blue {
    background-color: #4c49ea;
}

.animation-card {
    display: block;
    position: relative;

    border-radius: 20px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

    background-color: #fff;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: -20px;
        right: -20px;
        background: #952aff;
        height: 50px;
        width: 60px;
        border-radius: 32px;
        transform: scale(1);
        transition: transform 0.25s ease-out;
    }

    &:hover:before {
        transform: scale(21);
    }
}

.animation-card:hover {
    .card-body {
        transition: all 0.3s ease-out;
        color: #ffffff;
    }
}