html,
body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Mukta', sans-serif;
}

.bg-image {
    background-image: url('../img/cover.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.mask {
    height: 100vh;
    background-color: hsla(210, 56%, 41%, 0.7)
}

.btn-purple {
    color: #fff;
    background-color: #FF914D;
    border-color: #FF914D
}

.btn-purple:hover {
    color: #fff;
    background-color: #FF914D;
    border-color: #FF914D
}

.bg-blue {
    background-color: #1A3D97;
    color: #fff;
}

.card {
    max-width: 300px;
    min-height: 100px;
    display: flex;

    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
}

.card-pink {
    background-color: #cd3e94;
}

.card-blue-night {
    background-color: #952aff;
}
.card-blue {
    background-color: #4c49ea;
}