html,
body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Mukta', sans-serif;
}

.bg-image {
    background-image: url('../img/cover.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.mask {
    height: 100vh;
    background-color: hsla(204, 59%, 47%, 0.5)
}